* {
  box-sizing: border-box;
}

body {
  margin: 0;
 /*  background: #1f1d58; */
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


@font-face {
  font-family: 'Neue';
  src: url('../../Fonts/NeuePowerTrial/NeuePowerTrial-Heavy.ttf');
}
@font-face {
  font-family: 'Neue Regular';
  src: url('../../Fonts/NeuePowerTrial/NeuePowerTrial-Light.ttf');
}

@font-face {
  font-family: 'Disket Mono';
  src: url('../../Fonts/Disket-Mono-Regular.ttf');
}
@font-face {
  font-family: 'Disket Mono Bold';
  src: url('../../Fonts/Disket-Mono-Bold.ttf');
}
@font-face {
  font-family: 'Bahn';
  src: url('../../Fonts/bahnschrift.ttf');
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.transition-width {
transition: width 0.8s ease;
}
.transition-height {
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease;
}
.transition-height-open {
max-height: 1000px;
overflow: hidden;
transition: max-height 0.5s ease;
}

.textoNos {
font-family: 'Bahn'; 
color: white;
font-size: 1.3rem;
line-height: 2rem;
}

.tituloServicios {
font-family: 'Neue Regular'; 
color: #CF0709;
text-align: center;
font-size: 3rem;
}
.tituloServiciosBold {
font-family: 'Neue'; 
color: #CF0709;
text-align: center;
font-size: 3rem;
line-height: 0;
margin-top: 5px;
}
.tituloSobre {
font-family: 'Neue Regular'; 
color: white;
text-align: center;
font-size: 2.2rem;
}
.tituloSobreBold {
font-family: 'Neue'; 
color: white;
text-align: center;
font-size: 2.2rem;
/* line-height: 0;
margin-top: 5px; */
}

@media screen and (min-width: 768px) {
.tituloSobre, .tituloSobreBold {
  font-size: 3rem;
}
}

.flecha {
font-family: 'Neue'; 
font-size: 2.5rem;
}
.flechamini {
font-family: 'Neue'; 
font-size: 1rem;
}
.flechamono {
font-family: 'Disket Mono'; 
font-size: 1rem;
}

.textButton {
font-family: 'Disket Mono'; 
line-height: 0rem;
}
.botonObra {
font-family: 'Disket Mono'; 
/* line-height: 0rem; */
}

.tituloObra {
font-family: 'Neue'; 
font-weight: bolder;
text-align: center;
font-size: 1rem;
}
.serviTexto {
font-family: 'Disket Mono Bold'; 
/* font-weight: bolder; */
text-align: center;
font-size: 10px;
}

.detalle {
font-family: 'Neue'; 
text-align: start;
font-size: 1rem;
}

.detalleObra {
font-family: 'Bahn'; 
/*  text-align: center; */
font-size: 0.7rem;
}

.submenu{
justify-content: center;
align-items: center;
flex-direction: column;
display: flex;
}
.submenu2{
flex-direction: column;
display: flex;
}


.grid-container {
display: grid;
/*  grid-template-columns: repeat(5, 10rem);
grid-template-rows: repeat(2, 10rem);  */
gap: 0px;
}

.grid-container-v {
display: grid;
grid-template-columns: repeat(2, 12rem);
grid-template-rows: repeat(5, 12rem); 
gap: 0px;
padding: 1rem;
}

.grid-item {
background-color: transparent;
display: flex;
align-items: center;
padding: 1rem;
height: 150px;
width: 150px;
}

@media only screen and (min-width: 1920px) {
.grid-item {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 200px;
  width: 200px;
}
}

.pcuadrado{
font-family: 'Disket Mono'; 
font-size: 0.7rem;
text-transform: uppercase;
font-weight: bolder;
text-align: start;
margin-top: 0.5rem;
text-overflow: clip !important;
}

.pcontacto{
font-family: 'Neue'; 
text-align: start;
color: #CF0709;
}

.grid-item:nth-child(1) {
grid-row: 1;
grid-column: 1;
border: 1.3px solid black;
}

.grid-item:nth-child(3) {
grid-row: 1;
grid-column: 3;
border: 1.3px solid black
}

.grid-item:nth-child(5) {
grid-row: 1;
grid-column: 5;
border: 1.3px solid black;
}

.grid-item:nth-child(2) {
grid-row: 2;
grid-column: 2;
border: 1.3px solid black;
}

.grid-item:nth-child(4) {
grid-row: 2;
grid-column: 4;
border: 1.3px solid black; 
}



/* Hide the scrollbar */
div::-webkit-scrollbar {
width: 0.5rem; /* You can adjust the width to your preference */
background: transparent; /* Make the scrollbar background transparent */
}

/* Hide the scrollbar track */
div::-webkit-scrollbar-track {
background: transparent; /* Make the scrollbar track transparent */
}

/* Style the scrollbar thumb (the draggable part) */
div::-webkit-scrollbar-thumb {
background: transparent; /* Make the thumb transparent */
border-radius: 0.25rem; /* Optional: Add some border-radius for a more subtle look */
}

/* .accordion-item { width: 50vw} */


.shade-screen-container {
  position: fixed;
  right: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: black;
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .shade-screen-container {
    top: 14.2rem;
  }
}

section {
display: flex;
gap: 10px;
}

h2,
p {
margin: 0;
}

.tituloObras {
  font-family: 'Neue';
  color: white;
  text-align: center;
  font-size: 3rem;
  transform: rotate(-90deg);
}
.tituloObras2 {
  font-family: 'Neue';
  color: #CF0709;
  text-align: center;
  font-size: 3rem;
}

.contactos{
  font-family: 'Disket Mono';
  font-size: 12px;
  font-weight: bold;
  display:flex;
}
.footers{
  font-family: 'Neue Regular';
  font-size: 12px;
  display:flex;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

.input{
  border: 1px solid darkgray;
  font-family: 'Bahn';
}

.obraVista {
  font-family: 'Neue'; 
  font-weight: bolder;
 /*  text-align: center; */
  font-size: 1.5rem;
  color: white;
  }
.obraDesc {
  font-family: 'Bahn'; 
  font-weight: bolder;
  font-size: 1.1rem;
  color: lightgray;
}
.obraDesc2 {
  font-family: 'Bahn'; 
  font-size: 1.1rem;
  color: lightgray;
}

.contact {
width: 100%;
}
.contact .info i {
  font-size: 20px;
  color: #CF0709 !important;
  float: left;
  width: 44px;
  height: 44px;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
  font-family: 'Disket Mono';
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 10px;
  font-family: 'Disket Mono';
/*   font-size: 12px; */
  font-weight: bold;
/*   color: #173b6c; */
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links a:hover {
  background: #CF0709;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #CF0709;
  color: #fff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 0 0 calc(33.33% - 10px); /* Adjust the percentage and subtract any margin or padding as needed */
  width: calc(33.33% - 10px); /* Adjust the percentage and subtract any margin or padding as needed */
  margin: 5px; /* Add margin to create space between columns */
}